
<ul class="profile">
  <li class="pro-photo">
    <%= image_tag @user.image.url %>
  </li>
  <li class="user-name">
    <%= @user.name %>
  </li>
  <li class="introduce">
    <div class="introduce-in">
      <%= simple_format(@user.introduce) %>
    </div>
  </li>
</ul>

