body {
    height: auto;
     background: #f9f9f9;
     height: 100%;
  margin: 0;
}

html {
  height: 100%;
}


h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    position: relative;
    padding-bottom: 30px;
}

h1 {
    font-size: 2.8rem;
}

li {
    list-style: none;
}

input, textarea {
    outline: 0;
}

.field_with_errors {
  display: contents;
  
}

#wrapper {
  width:100%;
  overflow:hidden;
 
}



#main_column h1 {
    font-size: 1.8rem;
    font-weight: 550;
}

/* ヘッダー */

#header {
    width: 100%;
    padding-left: 10px;
    background: url() #fff;
    min-width: inherit;
    max-width: inherit;
    height: 80px;
    box-shadow: 0px 1.5px 5.5px 0.5px #f2f2f2;
    
}

#title_logo:hover, #post-button img:hover, .signup  img:hover, .login  img:hover, .show_post img:hover, .top_photo img:hover, .top_first_line img:hover, .top_first_line a:hover, #post-button:hover, #dropmenu  li div:hover, #user:hover  {
    opacity: 0.7;
} 

 #title_logo {
    width: 0;
    z-index: 3;
    position: relative;
    top: 8px;
}

#header a {
    text-decoration: none;
}

#title_logo a img {
    width: 165px;
}

.account {
    text-align: right;
    position: relative;
    width: 56%;
    left: 34%;
    z-index: 1;
}

.login {
    position: relative;
    right: 18px;
    bottom:  -7px;
}
.login img {
    height: 45px;
    width: 45px;
}

.signup {
    position: relative;
    bottom: -5px;
    right: 5px;
}

.signup  img  {
    width: 45px;
    height: 45px;
}
#gn_menu {
    z-index: 2;
    position: relative;
    bottom: 42px;
}
#gn_menu #post-button {
   float: right;
   position: relative;
   bottom: 62px;
   right: 57px;
   text-align: center;
}

#gn_menu #post-button  img  {
   width: 45px;
   position: relative;
   bottom: 3px;
}

 #dropmenu li #post-button p {
    position: relative;
    right: 1px;
    
}


/* ログイン、サインイン */

 #submit input {
    line-height: 40px;
    padding: 0 20px;
    cursor: pointer;
    background: 0 0;
    border: 2px solid #3897f0;
    color: #3897f0;
    font-weight: bold;
    font-feature-settings: "pkna";
    letter-spacing: 1px;
     margin: 0  auto;
}

#submit  {
    position:relative;
    margin: 0  auto;
    width: 60%;
    padding: 40px 0 60px;
}

 .form-group {
    margin-bottom: 0;
    padding: 15px 0;
 }
 
 .form-group input {
     width: 100%;
    border: 1px solid rgb(206, 212, 218);
    height: 45px;
    background: rgb(250, 250, 250);
    position: relative;
    top: 10px;
    padding-left: 20px;
 }
 
 
.other_acount {
    text-align: center;
	font-size: 0.8rem;
	padding-top: 30px;
}


.other_acount:hover {
    text-decoration: underline;
}

.other_acount a {
    color: #8c8c8c;
}

.user_image img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.user-button {
    position: relative;
    left: 8px;
}

#dropmenu {
    width: 0;
    float: right;
    padding: 0;
    position: relative;
    left: 70px;
    bottom: -23px;
}


#dropmenu li  {
    position: relative;
    right: 190px;
    bottom: 22px;
}

#dropmenu li p {
    position: relative;
    right: 5px;
    top: 3px;
}

#dropmenu li p, #post-button p {
    font-size: 0.7rem;
    font-weight: 700;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#dropmenu li ul li a {
    color: #b7b7b7;
}

#dropmenu > li:hover li:hover > a {  background: #6c757d }

#dropmenu li a {
    display: block;
    margin: 0;
    padding:  0;
    text-decoration: none;
    text-align: center;
}
#dropmenu li ul {
    width: 140px;
    margin: 0;
    padding: 0;
    position: relative;
    right: 50px;
    bottom: 10px;
}
#dropmenu li ul li {
    overflow: hidden;
    width: 100%;
    height: 0;
    background: #fff;
    color: #fff;
    transition: .3s;
    position: relative;
    top: 15px;
    left: 10px;
}

#dropmenu li ul li a {
    padding: 13px 15px;
    text-align: left;
    font-size: 13px;
    font-weight: 800;
}

#dropmenu > li:hover li:hover > a {  background: #EEEEEE;}
#dropmenu > li:hover > ul > li {
    overflow: visible;
    height: 38px;
    
}


.alert {
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    background: #FF570D;
}

 
 
 
.box, .introduce-box, .pro-box {
    font-size: 1rem;
    font-weight: 550;
    line-height: 100%;
    margin-bottom: 10px;
   
}



.row-group .row-item .form-group input {
    height: 45px;
    border: 1px solid #ced4da;
    width: 100%;
    font-size: 1rem;
    font-weight: normal;
    padding-left: 15px;
    background: rgb(250, 250, 250);
}

textarea {
    border: 1px solid #ced4da;
    width: 100%;
    height: 250px;
    font-weight: normal;
    font-size: 1.0rem;
    padding: 15px;
    background: rgb(250, 250, 250);
}

.form-group {
    text-align: left;
}

.row-group {
    padding: 50px 10px;
}

.edit-mypage {
    padding: 30px 10px;
    margin-bottom: 100px;
}

.text-center  {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    position: relative;
}

.form-wrapper {
    background: #fff;
    margin: 20px auto 60px;
    padding: 20px 0;
    max-width: 500px;
}

.form-wrapper h2 {
    text-align: center;
    padding: 30px 0;
    font-size: 1.7rem;
}

.form-item {
    margin-bottom: 1.2em;
    width: 100%;
    padding: 0 20px;
}

.form-item input {
    background: #fafafa;
    border: none;
    border-bottom: 2px solid #e9e9e9;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    height: 50px;
    transition: border-color 0.3s;
    width: 100%;
    padding-left: 15px;
    font-weight: normal;
}

.form-item input:focus {
    border-bottom: 2px solid #c0c0c0;
    outline: none;
}

.form-item-photo {
    padding: 30px 20px;
    text-align: center;
}

.form-item-photo img {
     border-radius: 50%;
    width: 140px;
    height: 140px;
}

.form-item-photo h4 {
    font-size: 1.1rem;
    padding-bottom: 20px;
}


.form-item-photo label {
     padding: 10px 40px;
    background-color: #f1f3f4;
    cursor: pointer;
    color: rgb(102, 102, 102);
}
.form-item-photo input {
    display: none;
}

.form-item-photo div {
    padding-top: 10px;
}

.form-item-photo p {
    color: rgb(140, 140, 140);
    font-size: 0.8rem;
    padding-top: 5px;
}

.button-panel {
    margin: 2em 0 0;
    width: 100%;
   padding: 0 20px;
}

.button-panel .button {
    background: rgb(39, 146, 195);
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 100%;
}

.button-panel .button:hover {
    background: #75A9FF;	
    outline: none 
}

.edit-photo {
    width: 70%;
    height: 250px;
    text-align: center;
    background: rgb(250, 250, 250);
    border: 1px solid rgb(206, 212, 218);
    padding: 60px 0;
    margin: 0 auto;
}

.edit-photo img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    position: relative;
    bottom: 10px;
}

.toppage {
    padding: 70px 0;
}

.bo {
    position: relative;
}

#nav-drawer  {
    position: relative;
    right: 48px;
    bottom: 28px;
    float: right;
    z-index: 3;
    width: 0;
}
 

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーの形をCSSで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: relative;
  height: 3px;/*線の太さ*/
  width: 28px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -11px;
}
#nav-open span:after {
  bottom: -20px;
}

#nav-open:hover {
    opacity: 0.7;
}


/*閉じる用の薄黒箇所*/
#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*メニューの中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 1030px;
  max-width: 330px;
  height: 100%;
  background: white;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-150%);
  transform: translateX(220%);
  background: #fafafa;
  padding: 0;
}

#nav-content li {
    border-bottom: 1px solid rgb(238, 238, 238);
}

#nav-content .user a, #nav-content .menu a {
    font-size: 14px;
    text-align: left;
    color: #555;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    display: block;
    padding: 0 0 0 38px;
    line-height: 4.8;
}

.user_image img {
    margin-right: 10px;
}

/*チェックがついたら表示させる*/
#nav-input:checked ~ #nav-close {
  display: block;
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(40%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}



/*ユーザーページ*/
.pro-photo {
    position: relative;
    top: 40px;
    left: 28px;
}



.pro-photo img {
   border-radius: 50%;
   width:  160px;       
   height: 160px;  
}

.user-name {
    font-size: 1.1rem; 
    font-weight: 800;
    position: relative;
    top: 80px;
    left: 30px;
    text-align: center;
    width: 200px;
    padding: 0  25px;
}

.introduce-in {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 25px 0px 25px 15px;
    width: 100%;
}

.introduce-in br {
    padding: 10px 0;
}

.profile {
    padding: 0;
    margin: 0;
}

.introduce {
    max-width: 1200px;
}


.show_post {
    display: inline-block; 
    width: 96%;
    padding: 40px 0 30px 20px;
}

.show_post img {
    width: 100%;
}

.show_title {
    color: #343a40;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 20px 0  0 15px;
}

#img_prev {
    width: 100%;
    z-index: 20;
    height: 325px;
}

.post_new {
    padding: 50px 20px 0 20px;
}

.post_label {
    font-size: 0.9rem;
    font-weight: 600;
    color: #C0C0C0;
    border-left: solid 5px #7db4e6;
    padding: 0 120px 0 15px;
}

.fileup {
    padding: 60px 0;
}

.post_prev {
    width: 100%;     
    position: relative;
    height: 330px;
    top: 10px;
    border: 3px dashed #c0c0c0;
    text-align: center;
    margin: 0 auto;
}

.img_filed {
    width: 70%;
   
}

.btn-file {
  overflow: hidden;
  
}
.btn-file input[type=file] {
  position: absolute;
  top: 38%;
  right: 5%;
  min-width: 90%;
  min-height: 45%;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  cursor: inherit;
  display: block;
  z-index: 1;
}

.post_edit {
    padding: 90px 20px 50px;
}

.post {
    padding: 0;
    margin: 0;
}

.post, .edit {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    position: relative;
}

.posttitle, .postplace, {
    padding: 20px 0 60px;
}

.postcategory {
    padding: 20px 0 100px;
}

.postcategory .post_label {
  margin-bottom: 20px;
}

.posttitle input, .postplace input {
    width: 100%;
    border: 1px solid #ced4da;
    height: 45px;
    background: rgb(250, 250, 250);
    position: relative;
    top: 10px;
    padding-left: 20px;
}

.postcontent {
    padding: 20px 0 50px;
}

.postcontent textarea {
    position: relative;
    top: 15px;
}

.categorytype label {
    display: block; 
    float: left; 
    margin: 3px; 
    width: 18%; 
    height: 35px; 
    text-align: center; 
    line-height: 30px;     
    padding: 0 5px; 
    cursor: pointer; 
    background: rgb(250, 250, 250);
    border: 2px solid rgb(206, 212, 218);
    border-radius: 5px;
    font-size: 0.9rem;
    position: relative;
    left: 5px;
}

.categorytype input[type=checkbox] {
    display: none; 
}

input[type=checkbox]:checked + label {
    background: rgb(125, 180, 230);
    color: #ffffff; 
}
.categorytype label:hover {
    background-color: #E2EDF9;
}

#postbutton  {
    width: 50%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 70px;
}

#postbutton input {
    line-height: 40px;
    padding: 0px 20px;
    cursor: pointer;
    background: 0px 0px;
    border: 2px solid rgb(56, 151, 240);
    color: rgb(56, 151, 240);
    font-weight: bold;
    font-feature-settings: "pkna";
    letter-spacing: 1px;
    text-align: center;
}


.upload-label {
  display: inline-block;
  cursor: pointer; 
  margin: 1em 0; 
  padding: .7em 1em; 
  line-height: 1.4;
  background: #3e8bff; 
  color: #FFF; 
  font-size: 0.95em; 
  border-radius: 2.5em;
  transition: 0.2s; 
  position: relative;
  width: 70%;
}
/* ホバー時 */
.upload-label:hover {
  box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.2); /* 影を表示 */
}
/* inputは隠す */
.upload-label input {
  display: none;
}

.photo_part {
    padding-top: 250px;
}

.photo_post {
    padding: 20px 0 10px;
    margin: 0 auto;
}

.top_photo   {
    text-align: center;
}

.top_photo img {
    width: 100%;
   
}

.toppage ul .photo_info {
    padding: 25px 10px;
}

.photo_part p, .category_title{
    font-size: 1.3rem;
    text-align: center;
    padding-bottom: 20px;
}

.photo_info  li {
    padding-bottom: 20px;
}

.top_first_line img {
    border-radius: 100px;
    width: 40px;
    height: 40px;
}

.top_first_line a {
    color: #343a40;
    font-weight: 600;
    font-size: 0.8rem;
    padding-right: 7px;
}

.top_first_line a:hover {
    text-decoration: none;
}

.top_first_line .created_at {
    font-size: 0.8rem;
    float: right;
    position: relative;
    top: 8px;
    font-weight: 600;
}

.top_title {
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 10px;
}

.top_content {
    padding-left: 10px;
}

.pagination {
    padding-top: 20px;
    text-align: center;
}

.post_show {
    padding: 20px 0 50px;
}

.post_show ul {
   padding: 0;
}

.show_photo img  {
    width: 90%;
}

.post_show ul .show_photo {
    padding: 20px 0px 0px 35px;
}   

.show_place {
    padding: 30px 30px 0;
}

.show_place p {
    display: inline;
}

.place {
    color: #828282;
}

.show_photo_title {
    font-size: 1.2rem;
    text-align: center;
    padding: 25px 29px;
}

.show_photo_user {
   border-top: 1px solid #cccccc;
   padding: 40px 0 0 30px;
}

.show_photo_user #user {
    color: black;
}

.show_photo_user a {
    color: #343a40;
    text-decoration: none;
}

.show_photo_content {
   padding: 30px 30px;
}

.show_photo_user a img {
    width: 40px;
    height: 40px;
}

.post_show ul .edit_link {
    text-align: center;
    padding: 55px 0;
}

.edit_link li {
    display: inline-block;
}

.edit_link a {
    padding: 15px;
    line-height: inherit;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0 auto 22px auto;
    background: #fff;
    border-radius: 4px;
    border: 2px solid #ddd;
    color: #666;
}

 .search {
     padding: 60px 0 350px;
 }
 
 .search_word {
     padding: 170px 0px 42px 20px;
     width: 80%;
     font-size: 1.3rem;
 }
 
 .search_word p {
     font-size: 1rem;
 }
 
 .search_first {
     position: relative;
     top: 20px;
     
 }

.search_form form {
    font-size: 0.7rem;
}

.searchtext {
    background: #f2f2f2;
    border: none;
    width: 100%;
    padding: 15px 15px 15px 20px;
    height: 40px;
    
}

.search_post img {
    height: 245px;
    width: 90%;
}

.searchbutton {
    display: none;
}

.search_second {
    width: 100%;
    display:  inline-block; 
    position: relative;
}

.search_second  .po img {
    width: 100%;
    height: 220px;
}

.search_second .search_form {
    position: absolute;
    top: 155px;
    width: 100%;
    padding: 0 10px;
}

.search_message {
    position: absolute;
    top: 100px;
    background-color: rgba(255,255,255,0.5);
    height: 70px;
    width: 62%;
    align-items: center;
    display: flex;
    margin-left: 20%;
}

.search_message h2 {
    padding: 0;
    width: 100%;
    font-size: 1.5rem;
}

.search_result ul   {
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

.search_user_image, .search_title {
    padding: 20px 10px 0;
}

.search_user_image img {
    border-radius: 100px;
    width: 40px;
    height: 40px;
}

.search_user_image a {
    color: #343a40;
    font-weight: 600;
    font-size: 0.8rem;
    text-decoration: none;
}

.slide_part {
    padding-bottom: 70px;
}

.slide {
    padding: 0;
    text-align: center;
}

.slide img {
    margin: 0 auto;
    width: 90%;
    max-width: 100%;
   
}

.slick-dots {
    display: none !important;
}

.slide_part h4 {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.slide_part p {
    margin: 0 auto !important;
    font-size: 0.8rem;
    width: 95%;
    padding-left: 20px;
}

.category li {
    text-align: center;
    
}

.category a {
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9rem;
  color: black;
  float:left;
  padding: 0.25em 0.5em;
  width: 21%;
  background: #ECECEC;
  margin: 0 0px 10px 2px;
  transition: .4s;
  margin: 0 0px 10px 8px;
  text-align: center;
  position: relative;
}




.category li a:hover {
    color: white;
    background: black;
}