@media screen and ( max-width: 330px) {
    .edit-pro-photo .box {
        position: relative;
        bottom: 40px;
    }
}


@media screen and ( min-width: 330px) and ( max-width: 370px) {
    .edit-pro-photo .box {
        right: 10%;
         position: relative;
        bottom: 40px;
        padding-left: 10px;
    }
}


@media screen and ( min-width: 371px) and ( max-width: 450px) {
    .edit-pro-photo .box { 
        position: relative;
        bottom: 50px;
        
    }
}


@media screen and ( max-width: 400px) {
    .introduce {
        width: 123%;
        right: 37px;
    }
    
    .show_post {
        width: 102%;
        padding: 20px 0 20px 0px;
    }
    
    .postpage {
        padding: 0;
    }
    
    .edit-photo {
        width: 100%;
        padding: 60px 43px;
    }
    
    #nav-content {
        background: #D3D3D3;
    }
}

@media screen and ( min-width: 400px) and ( max-width: 450px ) {
    .toppage {
        padding: 0 13px 0 27px;
    }
}




@media screen and ( min-width: 401px ) and ( max-width: 429px) {
    .introduce {
        width: 112%;
        right: 17px;
    }
    
    .show_post {
        padding: 30px 0px 30px 16px;
        width: 100%;
        
    }
}

@media screen and ( min-width: 401px )  and ( max-width: 600px ) {
    .edit-photo {
        width: 80%;
    }
}

@media screen  and ( max-width: 429px) {
    .edit-photo {
        height: 300px;
    }
    
    
}

@media screen and ( min-width: 430px) {
    .edit-photo {
        height: 290px;
    }
}


@media screen and ( min-width: 430px) and ( max-width: 450px ) {
    .introduce {
        width: 112%;
        right: 23px;
    }
}

@media screen and ( min-width: 451px) and ( max-width: 700px) {
     #header {
        padding: 0;
    }
}


@media screen and ( max-width: 450px ) {
   #dropmenu li a img  {
       position: relative;
       left: 88px;
       bottom: 15px;
       width: 45px;
       
   }
   
   #dropmenu li ul   {
        display: none;
   }
   .form-group .box {
       position: relative;
       left: 5px;
    }
    
    .row-group .row-item #submit {
         position: relative;
         bottom: 90px;
    }
    
    .row-group {
        width: 100%;
        padding-top: 20px ;
    }
    
    .edit-pro-photo img {
        position: relative;
        top: 60px;
    }
    .edit-pro-photo input {
        position: relative;
        top: 70px;
        left: 115px;
    }
    
    
    
    .header_sns #header #title_logo a img {
        width: 140px;
        position: relative;
        left: 10px;
        margin: 10px;
       
    }
    
    .header_sns #header #title_logo a {
        position: relative;
        top: 13px;
        right:25px;
    }
    .text-center h2 {
        font-size: 1.7rem;
    }
    
    #submit {
        padding: 60px 0;
    }
    
    
    
    #main_column {
        padding: 0 13px;
    }
    
    .signup {
        display: none;
    }
    
    .login a  {
        right: 60px;
    }
    
    #header {
       height: 70px;
       padding-left:20px;
   }
    
    .form-wrapper {
        padding: 0;
        margin: 0;
    }
    
    .hamburger label {
        position: absolute;
        right: 8px;
    }
    
     #nav-content {
        max-width: 310px;
        right: 124px;
    }
    
    #nav-content .user a {
        width: 318px;
    }
    
    #nav-drawer #nav-open {
        top: 2px;
        right: 15px;
    }
    
    .user-name {
        left: 27px;
    }
    
    .btn-file input[type="file"] {
        right: 5%;
        min-width: 91%;
        min-height: 36%;
        top: 34%;
    }
    
    .fileup {
        padding: 20px 0;
    }
    
    .post_prev {
        width: 100%;
        height: 265px;
    }
    
    #img_prev {
        width: 100%;
        height: 260px;
    }
}

@media screen and ( min-width: 451px ) {
    .edit-mypage {
        padding: 30px 35px;
    }
    
    .edit-photo {
        padding:  60px 70px;
    }
    
    #dropmenu li ul {
        position: relative;
        bottom: 35px;
        left: 20px;
    }
    
    #nav-input:checked ~ #nav-content {
        transform: translateX(30%);
    }
    
    #nav-content {
        max-width: 70%;
        left: 9%;
    }
    
    #nav-content .nav-logo img {
        width: 53%;
        height: 76px;
    }
    
    .login a  {
        bottom: 40px;
    }

}

@media screen and ( min-width: 451px ) and  (max-width: 700px) {
     #dropmenu li a img {
        position: relative;
        left: 70px;
        bottom: 45px;
     }
     
     #dropmenu li {
        position: relative;
        top: 9px;
     }
}



@media screen and ( min-width: 451px ) and ( max-width: 539px ) {
    #nav-content li a {
        width: 415px;
    }
}

@media screen and( min-width: 451px ) and( max-width: 750px ) {
    .header_sns #header #title_logo a img {
        position: relative;
    }
    .edit-pro-photo input {
        position: relative;
        left: 140px;
        top: 30px;
    }
}

@media screen and ( min-width: 451px ) and( max-width: 600px ) {
    .pro-photo {
        width: 50%;
        margin: 0 auto;
    }
    
    .user-name {
        left: 36px;
    }
}

@media screen and (min-width: 451px) and ( max-width: 1000px) {
     .toppage {
        padding: 0 30px 0 45px;
    }   
}


@media screen and ( min-width: 540px ) {
    #nav-content li a {
        width: 533px;
    }
    
    #nav-content .nav-logo img {
        width: 53%;
        height: 76px;
    }
    
    .edit-photo {
        padding:  60px 105px;
    }
}

@media screen and ( min-width: 551px ) {
    .btn-file input[type="file"] {
        top: 43%;
        min-height: 46%;
    }
}




@media screen and ( max-width: 550px ) {
    .postpage {
        padding-top: 30px;
    }
}

@media screen and ( min-width: 570px ) and( max-width: 729px ) {
    .user-name {
        left: 44px;
    }
    
    .photo_post {
        width: 90%;
        margin: 0 auto;
        padding: 30px 0;
    }
}




@media screen and ( max-width: 600px ) {
    .introduce {
        font-size: 0.8rem;
    }
    
    .edit-pro {
        padding-top: 20px;
    }
    
    .photo_post {
        width: 100%;
        padding: 30px 0;
    }
    
    .bo {
        padding-bottom: 20px;
    }
}


@media screen and ( min-width: 601px) {
    .bo {
        padding: 30px 30px 30px 0 !important;
    }
    
    .box {
        padding: 20px ;
        position: relative;
        top: 10px;
    }
    
    .edit-pro {
        width: 80%;
        margin: 0 auto;
    }
    
    .edit-photo {
        width: 90%;
    }
    
    .pro-box {
        position: relative;
        padding: 0 100px 0 0;
        bottom: 30px;
    }
    
    #user_img_prev {
        position: relative;
        
    }
    
    .introduce-box {
        position: relative;
        bottom: 220px;
        padding: 20px;
    }
    
    .show_post {
        width: 89%;
        padding: 50px 0 50px 93px;
    }
    
    .show_post img {
        width: 100%;
    }
    
    #img_prev {
        height: 415px;
    }
    
    .post_prev {
        height: 420px;
    }
    
    .btn-file input[type=file] {
        top: 43%;
        min-height: 58%;
    }
    
    .form-group input, .form-group textarea {
        width: 70%;
    }
    
    .form-group {
        padding-right: 20px;
        text-align: right;
    }
    
    .form-group img {
        width: 200px;
        height: 200px;
    }
    
    
    
    #submit  {
        padding: 60px 0;
    }
}
 

@media screen and ( min-width: 601px) and ( max-width: 830px) {
    .pro-photo {
        left: 0;
    }
    
    .introduce {
        font-size: 0.9rem;
        width: 101%;
       right: -10px;
    }
   
}






@media screen and ( max-width: 700px ) {
    .signup a {
        right: 140px;
    }
    
    .login a {
        right: 85px;
    }
    
    #gn_menu #post-button    {
        display: none;
    }
       
    
    
}



@media screen and ( min-width: 701px) {
    #dropmenu li  ul {
        position: relative;
        left: 90px;
        bottom: 5px;
    }
    
    .hamburger {
        display: none;
    }
    
     #dropmenu li a img {
        position: relative;
        left: 125px;
        bottom: 15px;
    }
    
    #dropmenu li {
        position: relative;
        top: 9px;
    }
    
    #nav-drawer {
        display: none;
    }
    
    .login a {
        bottom: 10px;
    }
    
    .signup a {
        bottom: 70px;
    }
    
    .post {
        font-size: 1.7rem;
    }
    
    .postpage label {
        font-size: 1.1rem;
    }
    
    .edit-photo {
        padding: 60px 140px;
    }
    
    .form-group input, .form-group textarea {
        width: 60%;
    }
    
    .form-group {
        padding-right: 80px;    
    }
}


@media screen and ( min-width: 701px ) and (max-width: 830px) {
    .pro-photo img {
        position: relative;
        left: 8px;
    }
}

@media screen and ( max-width: 729px ) {
    .fileup .btn {
        padding: 0;
    }
    
    
}



@media screen and ( min-width: 730px ) and  ( max-width: 830px) {
    .user-name {
        left: 51px;
    }
    
    .post_prev {
        width: 85%;
        
    }
    
}

@media screen and ( min-width: 730px ) {
    .fileup span {
        padding-bottom: 50px;
    }
    
    .btn-file input[type=file] {
        right: 10%;
        min-width: 80%;
        top: 51%;
    }
    
    .toppage {
        padding-top: 40px;
    }
    
    .toppage .photo_post {
       display: inline-block;
       padding:  15px;
       width: 48%;
       position: relative;
       left: 20px;
   }
   
    .top_photo  a img {
        display: block;
   }
   
   .show_post {
       width: 49%;
       padding: 40px 0 30px 36px;
   }
   
   .show_post img {
       width: 98%;
    
   }
}


@media screen and ( min-width: 751px ) and  (max-width: 834px) {
    .edit-pro-photo label {
        position: relative;
        bottom: 40px;
    }
    
    .edit-pro-photo img {
        position: relative;
        right: 20px;
        top: 60px;
        width: 140px;
        height: 140px;
    }
    
    .edit-pro-photo input {
        position: relative;
        top: 80px;
        left: 140px;
        
    }
}


@media screen and ( min-width: 800px ) {
    .edit-photo {
        width: 80%;
    }
    
    .edit-pro {
        width: 70%;
    }
    
    .show_post {
        width: 49%;
    } 
     
}

@media screen and ( min-width: 835px ) {
    .form-group {
         padding: 0 130px 0 0;
    }
    
    .box, .introduce-box {
        padding: 40px;
    }
    
    .edit-pro-photo label {
        position: relative;
        right: 100px;
        bottom: 90px;
    }
    
    .edit-pro-photo input {
        position: relative;
        left: 165px;
        top: 35px;
    }


        
    .edit-pro-photo {
        position: relative;
        top: 60px;
    }
    
    .edit-pro-photo img {
        position: relative;
        top: 20px;
    }
    
    .row-group {
        position: relative;
        left: 14px;
        top: 70px;
        max-width: 430px;
    }
    
    #submit {
        position: relative;
        top: 20px;
    }
    
    .intro {
        position: relative;
        top: 30px;
    }
}

@media screen and ( max-width: 830px) {
    .pro-photo  {
       text-align: center;
    }
    
    .user-name {
       top: 55px;
       padding: 0  10px 90px 20px;
       position: relative;
       text-align: center;
       width: 90%;
    }
    
    .introduce {
        border-bottom: 1px solid #cccccc;
        position: relative;
        border-top: 1px solid #cccccc;
    }
    
    .introduce-in {
        padding: 20px 30px 20px 35px;
    }
}

@media screen and ( min-width: 831px) {
    .pro-photo {
        position: relative;
        left: 110px;
        top: 55px;
    }
    
    .introduce {
        margin-left: 320px;
        position: relative; 
        bottom: 147px;
    }
    
    .profile {
        padding: 0 48px;
        border-bottom: 1px solid #cccccc;
        height: 325px;
    }
    
    .post_prev {
        width: 75%;
    }
    
    .btn-file input[type=file] {
        right: 15%;
        min-width: 64%;
    }
   
}

@media screen and ( min-width: 855px ) {
    .img_filed {
        width: 60%;
    }
    
    .btn-file input[type=file] {
        right: 19%;
        min-width: 62%;
    }
    
    .edit-photo {
        padding: 60px 150px;
    }
    
    #postbutton {
        width: 60%;
    }
}

@media screen and ( min-width: 831px ) and ( max-width: 950px) {
    .introduce-in {
        width: 97%;
    }
}

@media screen and ( min-width: 951px ) and ( max-width: 1160px) {
    .introduce {
        margin-right: 60px; 
    }
}

@media screen and ( min-width: 1000px ) {
    .form-group input, .form-group textarea {
        width: 50%;
    }
    
    .form-group {
        padding-right: 190px;
    }
    
    .toppage .photo_post {
        width: 33%;
    }
    
    .toppage {
        padding: 40px 30px 0 0;
        max-width: 95%;
    }
    
    .show_post {
        width: 33%;
        padding: 40px 0 30px 30px;
    }
}


@media screen and ( min-width: 1070px ) {
    .btn-file input[type=file] {
        right: 20%;
       min-width: 60%;
    }
}

@media screen and ( min-width: 1200px) {
    .pro-photo {
        left: 160px;
    }
    
    .user-name {
        left: 156px;
    }
    
    .introduce {
        margin-left: 390px;
    }
}


