@media screen and ( max-width: 330px) {
    .edit-pro-photo .box {
        position: relative;
        bottom: 40px;
    }
}


@media screen and ( min-width: 330px) and ( max-width: 370px) {
    .edit-pro-photo .box {
        right: 10%;
         position: relative;
        bottom: 40px;
        padding-left: 10px;
    }
}


@media screen and ( min-width: 371px) and ( max-width: 450px) {
    .edit-pro-photo .box { 
        position: relative;
        bottom: 50px;
        
    }
}


@media screen and ( max-width: 400px) {
    .introduce {
        width: 123%;
        right: 37px;
    }
    
    .show_post {
        width: 102%;
        padding: 20px 0 20px 0px;
    }
    
    .post_new {
        padding: 0;
    }
    
    .edit-photo {
        width: 100%;
    }
    
    .account {
        left: 37%;
        width: 50%;
    }
}

@media screen and ( min-width: 400px) and ( max-width: 450px ) {
    .account {
        left: 32%;
        bottom: 71px;
    }
}




@media screen and ( min-width: 401px ) and ( max-width: 429px) {
    .introduce {
        width: 112%;
        right: 17px;
    }
    
    .show_post {
        padding: 30px 0px 30px 16px;
        width: 100%;
        
    }
}

@media screen and ( min-width: 401px )  and ( max-width: 600px ) {
    .edit-photo {
        width: 80%;
    }
}

@media screen  and ( max-width: 429px) {
    .edit-photo {
        height: 300px;
    }
    
    
}

@media screen and ( min-width: 430px) {
    .edit-photo {
        height: 290px;
    }
}


@media screen and ( min-width: 430px) and ( max-width: 450px ) {
    .introduce {
        width: 112%;
        right: 23px;
    }
}

@media screen and ( min-width: 451px) and ( max-width: 700px) {
     #header {
        padding: 0;
    }
}


@media screen and ( max-width: 450px ) {
   #dropmenu li a img  {
       width: 42px;
       height: 42px;
   }
   
   #dropmenu li ul   {
        display: none;
   }
   
   #dropmenu li {
       right: 176px;
       bottom: 19px;
   }
   
   
   .form-group .box {
       position: relative;
       left: 5px;
    }
    
    .row-group .row-item #submit {
         position: relative;
         bottom: 90px;
    }
    
    .row-group {
        width: 100%;
        padding-top: 20px ;
    }
    
    .edit-pro-photo img {
        position: relative;
        top: 60px;
    }
    .edit-pro-photo input {
        position: relative;
        top: 70px;
        left: 115px;
    }
    
    #nav-drawer {
        right: 15px;
    }
    
    #header #title_logo img {
        width: 145px;
    }
    
    .text-center h2 {
        font-size: 1.7rem;
    }
    
    #submit {
        padding: 60px 0;
    }
    
    #main_column {
       /* padding: 0 13px; */ 
    }
    
    .signup {
        display: none;
    }
    
    .login a  {
        right: 60px;
    }
    
    #header {
       height: 70px;
    }
    
    .hamburger label {
        position: absolute;
        right: 8px;
    }
    
     #nav-content {
        max-width: 290px;
        right: 115px;
    }
    
    #nav-content .user a {
        width: 318px;
    }
    
    .btn-file input[type="file"] {
        right: 5%;
        min-width: 91%;
        min-height: 36%;
        top: 34%;
    }
    
    .fileup {
        padding: 20px 0;
    }
    
    .post_prev {
        width: 100%;
        height: 265px;
    }
    
    #img_prev {
        width: 100%;
        height: 260px;
    }
}

@media screen and ( min-width: 451px ) {
    .edit-mypage {
        padding: 30px 35px;
    }
    
    #nav-input:checked ~ #nav-content {
        transform: translateX(30%);
    }
    
    #nav-content {
        max-width: 70%;
        left: 9%;
    }
    
    .login a  {
        bottom: 40px;
    }

}


@media screen and( min-width: 451px ) and( max-width: 550px ) {
    .account {
        left: 33%;
        width: 55%;
    }
}

@media screen and( min-width: 451px ) and( max-width: 750px ) {
    .edit-pro-photo input {
        position: relative;
        left: 140px;
        top: 30px;
    }
}

@media screen and ( min-width: 451px ) and( max-width: 600px ) {
    .pro-photo {
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and ( min-width: 551px ) {
    .btn-file input[type="file"] {
        top: 43%;
        min-height: 46%;
    }
    
    .upload-label {
        width: 35%;
    }
}

@media screen and ( max-width: 550px ) {
    .post_new {
        padding-top: 30px;
    }
}

@media screen and ( min-width: 570px ) and( max-width: 729px ) {
    .user-name {
        left: -5px;
    }
    
    .photo_post {
        width: 90%;
        margin: 0 auto;
        padding: 30px 0;
    }
}




@media screen and ( max-width: 600px ) {
    body {
        background: #fff;
    }
    
    .introduce {
        font-size: 0.8rem;
    }
    
    
    .edit-pro {
        padding-top: 20px;
    }
    
    .photo_post {
        width: 100%;
        padding: 30px 0;
    }
    
    .photo_info {
        background: rgb(249, 249, 249);
    }
    
    .bo {
        padding-bottom: 20px;
    }
    
    .toppage ul .photo_info {
        padding: 20px 20px 0 16px;
    }
}


@media screen and ( min-width: 601px) {
    .form-wrapper {
        padding: 20px 20px 20px 20px;
        position: relative;
        left: 10px;
    }
    
    .top_first_line {
        padding: 0 5px;
    }
    
    .photo_info {
        background: #fff;
    }
    
    .show_title {
        background: #fff;
        padding: 20px 0 20px 15px;
    }
    
    .bo {
        padding: 30px 30px 30px 0 !important;
    }
    
    .box {
        padding: 20px 20px 20px 0;
        position: relative;
        top: 10px;
    }
    
    .edit-pro {
        width: 80%;
        margin: 0 auto;
    }
    
    .edit-photo {
        width: 90%;
    }
    
    .pro-box {
        position: relative;
        padding: 0 100px 0 0;
        bottom: 30px;
    }
    
    #user_img_prev {
        position: relative;
        
    }
    
    .introduce-box {
        position: relative;
        bottom: 220px;
        padding: 20px;
    }
    
    .show_post {
        width: 89%;
        padding: 50px 0 50px 65px;
    }
    
    .show_post img {
        width: 100%;
    }
    
    #img_prev {
        height: 415px;
    }
    
    .post_prev {
        height: 420px;
    }
    
    .btn-file input[type=file] {
        top: 43%;
        min-height: 58%;
    }
    
    .form-group input, .form-group textarea {
        width: 70%;
        background: #fff;
    }
    
    .form-group {
        padding-right: 20px;
        text-align: right;
    }
    
    .form-group img {
        width: 200px;
        height: 200px;
    }
    
    .posttitle input, textarea {
        background: #fff;
    }
    
    #postbutton {
        padding-top: 20px;
    }
    
    #submit  {
        padding: 60px 0;
    }
    
    .search_form {
        text-align: center;
    }
    
    .searchtext {
        width: 80%;
        margin: 0 auto;
    }
}
 

@media screen and ( min-width: 601px) and ( max-width: 830px) {
    .introduce {
        font-size: 0.9rem;
        width: 100%;
       right: -3px;
    }
   
}

@media screen and ( max-width: 700px ) {
    #gn_menu #post-button    {
        display: none;
    }
      
    .pro-photo {
        top: 40px;
        right: 15px;
    }
    
}



@media screen and ( min-width: 701px) {
    #dropmenu li  ul {
        bottom: 5px;
    }
    
    #dropmenu {
        left: 125px;
    }
    
    .account {
        bottom: 42px;
        left: 41%;
    }
    
    .hamburger {
        display: none;
    }
    
    #dropmenu li {
        position: relative;
        top: 9px;
    }
    
    #nav-drawer {
        display: none;
    }
    
    .login a {
        bottom: 10px;
    }
    
    .signup a {
        bottom: 70px;
    }
    
    .post {
        font-size: 1.7rem;
        position: relative;
        right: 2%;
    }
    
    .post_new label {
        font-size: 1.1rem;
    }
    
    .form-group input, .form-group textarea {
        width: 65%;
    }
    
    .form-group {
        padding-right: 50px;    
    }
}

@media screen and ( min-width: 701px) and ( max-width: 729px ){
    .pro-photo {
        top: 40px;
        left: 25px;
    }
}

@media screen and (min-width: 701px) and ( max-width: 1000px) {
     .toppage {
        padding: 40px 30px 0 25px;
    }   
}

@media screen and ( max-width: 729px ) {
    .fileup .btn {
        padding: 0;
    }
    
    .user-name {
    left: -20px;
    }
}

@media screen and ( min-width: 730px ) and  ( max-width: 830px) {
    .user-name {
        left: -15px;
    }
    
    .post_prev {
        width: 85%;
    }
    
    .pro-photo {
        top: 40px;
        left: 25px;
    }
    
}

@media screen and ( min-width: 730px ) {
    .fileup span {
        padding: 0 0 50px 0;
    }
    
    .posttitle input, .postcontent textarea {
        width: 80%;
        
    }
    
    .post_new .posttitle div, .postcontent div  {
         text-align: center;
         padding-top: 20px;
    }
    
    .post_new {
        padding: 50px 20px 0 40px;
    }
    
    
    
    .btn-file input[type=file] {
        right: 9%;
        min-width: 79%;
        top: 51%;
    }
    
    .toppage .photo_post {
       display: inline-block;
       padding:  15px;
       width: 48%;
       position: relative;
       left: 20px;
   }
   
    .top_photo  a img {
        display: block;
   }
   
   .show_post {
       width: 49%;
       padding: 40px 10px 30px 27px;
   }
   
   .show_post img {
       width: 98%;
   }
   
   .edit-photo {
       padding: 40px 0;
   }
   
   .edit-photo img {
        width: 170px;
        height: 170px;
        bottom: 0;
    }
   
}


@media screen and ( min-width: 751px ) and  (max-width: 834px) {
    .edit-pro-photo label {
        position: relative;
        bottom: 40px;
    }
    
    .edit-pro-photo img {
        position: relative;
        right: 20px;
        top: 60px;
        width: 140px;
        height: 140px;
    }
    
    .edit-pro-photo input {
        position: relative;
        top: 80px;
        left: 140px;
        
    }
}


@media screen and ( min-width: 800px ) {
    .edit-photo {
        width: 90%;
    }
    
    .edit-pro {
        width: 70%;
    }
    
    .show_post {
        width: 49%;
    } 
    
    #submit {
        width: 45%;
    } 
}

@media screen and ( min-width: 835px ) {
    .form-group {
         padding: 0 130px 0 0;
    }
    
    .box, .introduce-box {
        padding: 40px;
    }
    
    .edit-pro-photo label {
        position: relative;
        right: 100px;
        bottom: 90px;
    }
    
    .edit-pro-photo input {
        position: relative;
        left: 165px;
        top: 35px;
    }
 
    .edit-pro-photo {
        position: relative;
        top: 60px;
    }
    
    .edit-pro-photo img {
        position: relative;
        top: 20px;
    }
    
    .row-group {
        position: relative;
        left: 14px;
        top: 70px;
        max-width: 430px;
    }
    
    #submit {
        position: relative;
        top: 20px;
    }
    
    .intro {
        position: relative;
        top: 30px;
    }
}

@media screen and ( max-width: 830px) {
    .pro-photo  {
       text-align: center;
    }
    
    .user-name {
       top: 55px;
       padding: 0  10px 90px 20px;
       text-align: center;
       width: 70%;
       margin: 0 auto;
    }
    
    .introduce {
        border-bottom: 1px solid #cccccc;
        position: relative;
        border-top: 1px solid #cccccc;
    }
    
    .introduce-in {
        padding: 20px 40px 20px 35px;
    }
}

@media screen and ( min-width: 831px) {
    .pro-photo {
        padding: 0 0 0 50px;
    }
    
    .introduce {
        margin-left: 320px;
        position: relative; 
        bottom: 147px;
    }
    
    .profile {
        padding: 0 48px;
        border-bottom: 1px solid #cccccc;
        height: 325px;
    }
    
    .post_prev {
        width: 75%;
    }
    
    .btn-file input[type=file] {
        right: 14%;
        min-width: 64%;
    }
}

@media screen and ( min-width: 855px ) {
    .img_filed {
        width: 60%;
    }
    
    .btn-file input[type=file] {
        right: 16%;
        min-width: 66%;
        top: 51%;
        min-height: 63%;
    }
    
    #postbutton {
        width: 40%;
    }
}

@media screen and ( min-width: 831px ) and ( max-width: 950px) {
    .introduce-in {
        width: 97%;
    }
}

@media screen and ( min-width: 930px ) {
    .posttitle input, .postcontent textarea {
        width: 70%;
    }
    
    .post_prev {
        height: 460px;
        width: 70%;
    }
    
    #img_prev {
        height: 454px;
    }
    
    .post_new  {
        padding: 50px 20px 0 60px;
    }
}



@media screen and ( min-width: 951px ) and ( max-width: 1160px) {
    .introduce {
        margin-right: 60px; 
    }
}

@media screen and ( min-width: 1000px ) {
    .form-group input, .form-group textarea {
        width: 60%;
    }
    
    .form-group {
        padding-right: 190px;
    }
    
    .toppage .photo_post {
        width: 33%;
    }
    
    .toppage {
        padding: 40px 0 0 0;
        max-width: 95%;
    }
    
    .show_post {
        width: 33%;
        padding: 40px 0 30px 30px;
    }
    
    .posttitle input, .postcontent textarea {
        width: 70%;
    }
    
    .post_new {
        padding: 50px 40px 0 100px;
        
    }
    
    .post_new label {
        position: relative;
        left: 20px;
    }
    
    #header {
        padding: 0 20px;
    }
    
    .upload-label {
        width: 28%;
    }
}


@media screen and ( min-width: 1070px ) {
    .btn-file input[type=file] {
        right: 16%;
       min-width: 65%;
    }
}

@media screen and ( min-width: 1100px) {
    .post_prev {
        width: 62%;
        height: 470px;
    }
    
    #img_prev {
        height: 464px;
    }
}

@media screen and ( min-width: 1200px) {
    .pro-photo {
        left: 125px;
    }
    
    .user-name {
        left: 156px;
    }
    
    .introduce {
        margin-left: 390px;
    }
}


